.interaction-grid table td {
  height: 50px;
  width: 50px;
  font-size: 20px; }
  .interaction-grid table td.thead {
    font-weight: bold;
    background-color: #f9f9f9; }

footer {
  padding: 25px 0; }
